<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^{nom_de_domaine}$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?route=$1 [QSA,L]

ErrorDocument 404 {protocole}{nom_de_domaine}/error404
</IfModule>

<IfModule mod_headers.c>
Header set Content-Security-Policy "script-src {protocole}{nom_de_domaine}/js/, 'none'"
Header set Content-Security-Policy "img-src {protocole}{nom_de_domaine}/img/"
Header set Content-Security-Policy "style-src {protocole}{nom_de_domaine}/css/" 
Header set Content-Security-Policy "font-src {protocole}{nom_de_domaine}/font/"
Header set Content-Security-Policy "object-src 'none'"
Header set Content-Security-Policy "base-uri 'self'"

Header set Content-Security-Policy "frame-ancestors 'none'"
Header set Referrer-Policy "strict-origin-when-cross-origin"
Header set Permissions-Policy "accelerometer=(), geolocation=('self'), fullscreen=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), display-capture=('self')" 
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header set X-Content-Type-Options "nosniff" 
</IfModule>